.banner {
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  width: 1440px; /* Fixed */
  height: auto; /* Hug */
  min-height: 64px; /* Ensuring it doesn't go below the specified height */
  padding: 16px 32px;
  gap: 10px;
  

  background: #605DEC;
}

.bannerText {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #F6F6FE;

  width: 1334px;
  height: 25px;
  gap: 0;
  
}

.bannerButton {
  width: 32px;
  height: 32px;
  padding: 4.69px 0 0 0;
  gap: 0;
  

  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes border from button */
  color: #FFFFFF; /* Sets the '×' symbol color to white */
}
