.container {
  background: url("world map.png");
  width: 1440px; /* Fixed */
  height: 700px; /* Fixed */
  top: 152px;
  padding: 8px 0 160px 0;
  gap: 48px;
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.title {
  width: 756px;
  height: 265px;
  gap: 0;
  
  background: url("Group 8.png");
  font-family: Nunito Sans;
  font-size: 96px;
  font-weight: 800;
  line-height: 90px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchContainer {
  display: flex;
  align-items: center;
  
  width: 1200px; /* Fixed */
  height: auto; /* Hug */
  min-height: 48px; /* Ensuring it doesn't go below the specified height */
  gap: 0;
  border-radius: 4px 0 0 0;
  border: 1px solid #CBD4E6;
  
  background: #FFFFFF;
  box-shadow: 0px 12px 24px 0px #1B3B770D, 0px 24px 60px 0px #062F7D0D, 0px 2px 4px 0px #0704921A;
}

.searchInput {
  width: 100%; /* Fill */
  max-width: 324.5px; /* Ensuring it doesn't exceed the specified width */
  height: auto; /* Hug */
  min-height: 48px; /* Ensuring it doesn't go below the specified height */
  gap: 4px;
  
}

.TextInput {
  width: 252px; /* Fixed */
  height: auto; /* Hug */
  min-height: 48px; /* Ensuring it doesn't go below the specified height */
  gap: 4px;
  
}

.TextInput2 {
  width: 200px; /* Fixed */
  height: auto; /* Hug */
  min-height: 48px; /* Ensuring it doesn't go below the specified height */
  gap: 4px;
  
}

.searchButton {
  width: auto; /* Hug */
  max-width: 96px; /* Ensuring it doesn't exceed the specified width */
  height: 48px; /* Fixed */
  padding: 12px 20px;
  gap: 8px;
  border-radius: 4px 0 0 0;
  
  background: #605DEC;
}

.divider {
  width: 1px;
  height: 48px;
  gap: 0;
  
  background: #CBD4E6;
}
