.container {
 
  background: url("world map.png");

  width: Fixed (1,440px)px;
  height: Fixed (700px)px;
  top: 152px;
  padding: 8px 0px 160px 0px;
  gap: 48px;
  opacity: 0px;

}


.main {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2rem;


}

.title {
  
  width: 756px;
  height: 265px;
  gap: 0px;
  opacity: 0px;
 
  background: url("Group 8.png");

  font-family: Nunito Sans;
  font-size: 96px;
  font-weight: 800;
  line-height: 90px;
  text-align: center;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.searchContainer {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchInput {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.searchButton {
  background-color: #605dec;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}



